<div class="bg-cover bg-center">
    <div class="text-center relative top-1 w-1/3 background-image h-96">
            <div class="row mx-auto d-flex align-items-center min-vh-100">
                <div class="col-md-6 col-md-offset-3 mx-auto" id="sign-up">
                    <br>
                    <h2 class="text-orange-800"><b> Welcome, please add a pet using the form below, thanks for choosing <i>Fetch-a-Pet!</i></b></h2>
                    <br>
                    <form class="addpet-form">
                        <div class="form-group">
                            <label for="InputFirstName">Pet name</label>
                            <input type="text" class="form-control" id="name-addpet" placeholder="Enter the pet name here">
                        </div>
                        <div class="form-group">
                            <label for="InputLastName">Pet breed</label>
                            <input type="text" class="form-control" id="breed-addpet" placeholder="Last Name">
                        </div>
                        <div class="form-group">
                            <label for="InputEmail">Description</label>
                            <input type="text" class="form-control" id="description-addpet" placeholder="Description of pet being added">
                        </div>
                        <div class="form-group">
                            <label for="InputPassword">Age of pet</label>
                            <input type="number" class="form-control" id="age-addpet" placeholder="Enter age of pet here">
                        </div>
                        <br>
                        <button type="submit" id="submit-addpet"
                            class="btn rounded-sm bg-orange-300 border-blue-700 border text-blue-700 hover:text-white hover:bg-blue-800 focus:outline-none focus:ring-blue-300 text-center">Add pet!</button>
                    </form>
                    <br />
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="../public/js/pet.js"></script>