<div class="text-center relative w-3/5">
            <div class=" top-0 h-14"></div>
            <div class="row mx-auto d-flex align-items-center min-vh-100">
                <div class="col-md-6 col-md-offset-3 mx-auto" id="log-in">
                    <br>
                    <h2 class="text-orange-800"><b> Welcome to <i>Fetch-a-Pet!</i><br>Please Sign In</b></h2>
                    <br>
                    <form class="login">
                        <div class="form-group">
                            <label for="InputEmail">Email.........</label>
                            <input type="email" class="form-control" id="input-email" placeholder="Email">
                        </div>
                        <br>
                        <div class="form-group">
                            <label for="InputPassword">Password..</label>
                            <input type="password" class="form-control" id="input-password" placeholder="Password">
                        </div>
                        <br>
                        <button type="submit"
                            class="btn rounded-sm bg-orange-300 border-blue-700 border text-blue-700 hover:text-white hover:bg-blue-800 focus:outline-none focus:ring-blue-300 text-center">Log-in</button>
                    </form>
                    <br />
                    <p>New User? <button type="submit"
                            class="btn rounded-sm border-blue-700 border text-blue-700 hover:text-white hover:bg-blue-800 focus:outline-none focus:ring-blue-300 text-center">Sign
                            Up</button> </p>
                </div>
            </div>
        </div>


        <script type="text/javascript" src="../public/js/login.js"></script>