<div class="bg-cover bg-center">
<div class=" top-0 h-14"></div>
    <div class="text-center relative top-1 w-1/3 background-image h-96">
        <div class="row mx-auto d-flex align-items-center min-vh-100">
            <div class="col-md-6 col-md-offset-3 mx-auto" id="log-in">
                <br>
                <h2 class="text-orange-800"><b> Welcome to <i>Fetch-a-Pet!</i><br>Please Sign In</b></h2>
                <br>
                <form class="login">
                    <div class="form-group">
                        <label for="InputEmail">Email.........</label>
                        <input type="email" class="form-control" id="email-login" placeholder="Email">
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="InputPassword">Password..</label>
                        <input type="password" class="form-control" id="password-login" placeholder="Password">
                    </div>
                    <br>
                    <button id="login" type="submit"  
                        class="btn rounded-sm bg-orange-300 border-blue-700 border text-blue-700 hover:text-white hover:bg-blue-800 focus:outline-none focus:ring-blue-300 text-center">Log-in</button>
                </form>
                <br />
                <p>New User?<button type="submit" id="signup-btn" onclick="document.location.replace('/signup')"
                        class="btn rounded-sm bg-purple-300 border-blue-700 border text-blue-700 hover:text-white hover:bg-blue-800 focus:outline-none focus:ring-blue-300 text-center">Sign
                        Up</button> </p>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="/js/login.js"></script>