<div class="text-center relative w-3/5">
    <div class=" top-0 h-14"></div>
    <div class="row mx-auto d-flex align-items-center min-vh-100"></div>
</div>

<div class=" grid grid-cols-4 gap-2 flex-row pr-2 p-3">
    {{#each petData}}
    <div class=" flex-row rounded-md h-50 mx-3 my-5 right-5">
        <a href = "/pets/{{id}}"><img src="/images/{{filename}}" alt="{{filename}}" class="rounded-md" id="petid" onclick="getpetdetail('{{id}}')"/>
        </a>
    </div>

    {{/each}}

</div>


<script type="text/javascript" src="/js/pet.js"></script>