@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-image: url("../public/images/geck.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  font-family: 'Times New Roman', sans-serif;

}

#sign-up {
  border-radius: 2em;
  background: rgba(179, 247, 175, 0.75);
  color: rgb(0, 0, 0);
}

#log-in {
  border-radius: 2em;
  background: rgba(179, 247, 175, 0.75);
  color: rgb(0, 0, 0);
}

.navbar {
  background-color: aliceblue;
}

.vertical-center {
  min-height: 100%;
  max-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  
}

/* #log-in {
  border-radius: 2em;
  background: rgba(179, 247, 175, 0.75);
  color: rgb(0, 0, 0);
} */

.card {
  margin-top: 20px;
  margin-bottom: 20px;
  background: rgb(150,135,112);
  background: linear-gradient(0deg, rgba(150,135,112,0.9948354341736695) 0%, rgba(255,247,243,1) 100%);
}